<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kundenliste</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <h1>Kundenliste</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Kundennummer</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Straße</th>
            <th>Hausnummer</th>
            <th>Postleitzahl</th>
            <th>E-Mail</th>
            <th>Telefonnummer</th>
            <th>Kundentyp</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kunde : ${kunden}">
            <td th:text="${kunde.kundennummer}"></td>
            <td th:text="${kunde.vorname}"></td>
            <td th:text="${kunde.nachname}"></td>
            <td th:text="${kunde.strasse}"></td>
            <td th:text="${kunde.hausnummer}"></td>
            <td th:text="${kunde.postleitzahl}"></td>
            <td th:text="${kunde.email}"></td>
            <td th:text="${kunde.telefonnummer}"></td>
            <td th:text="${kunde.kundentyp.name}"></td>
            <td>
                <a class="btn btn-info btn-sm"
                   th:href="@{/kunden/{id}/bearbeiten(id=${kunde.kundennummer})}">Bearbeiten</a>
                <a class="btn btn-secondary btn-sm" th:href="@{/kunden/{id}/bestellungen(id=${kunde.kundennummer})}">Bestellungen</a>
                <form th:action="@{/kunden/{id}/loeschen(id=${kunde.kundennummer})}" method="post" class="d-inline"
                      onsubmit="return confirm('Möchten Sie diesen Kunden wirklich löschen?');">
                    <button type="submit" class="btn btn-danger btn-sm">Löschen</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/kunden/neu" class="btn btn-primary">Neuen Kunden erstellen</a>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
